:root{
    --color-azul-esverdeado-escuro: #184848;
    --color-azul-esverdeado-mediano: #006060;
    --color-azul-esverdeado-claro: #006060;
    --color-verde-lima: #a8c030;
    --color-bege: #f0f0d8;
    --color-white: #ffff;
    --color-grey: #2e2e2e;
    --margin-base: 20px;
}